// color palette
$main-color-txt:#e7e5dd;
$main-bg-color: #b76189;
$color-txt: #780D66;
$butcolor1: #FFA0C8;
$butcolor2: #7FFFDC;
$butcolor3: #89FFE3;
$butcolor4: #FF6743;
$butcolor5: #D493FF;
$butcolor6: #E86898;
$butcolor7: #6AAAFF;
$butcolor8: #5AC64C;
$butcolor9: #FFBB4D;

// tipografia- fonts
@font-face {
    font-family: 'Expose-Variable';
    src: url('../fonts/Expose-Variable.woff2') format('woff2'),
         url('../fonts/Expose-Variable.woff') format('woff'),
         url('../fonts/Expose-Variable.ttf') format('truetype');
         font-weight: 400 900;
         font-display: swap;
         font-style: normal;
}
  
  
@font-face {
    font-family: 'Expose-Regular';
    src: url('../fonts/Expose-Regular.woff2') format('woff2'),
         url('../fonts/Expose-Regular.woff') format('woff'),
         url('../fonts/Expose-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}
  
  
@font-face {
    font-family: 'Expose-Medium';
    src: url('../fonts/Expose-Medium.woff2') format('woff2'),
         url('../fonts/Expose-Medium.woff') format('woff'),
         url('../fonts/Expose-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}
  
  
@font-face {
    font-family: 'Expose-Bold';
    src: url('../fonts/Expose-Bold.woff2') format('woff2'),
         url('../fonts/Expose-Bold.woff') format('woff'),
         url('../fonts/Expose-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}
  
  
@font-face {
    font-family: 'Expose-Black';
    src: url('../fonts/Expose-Black.woff2') format('woff2'),
         url('../fonts/Expose-Black.woff') format('woff'),
         url('../fonts/Expose-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
}
  